In [1]:
import pandas as pd
import numpy as np

In [8]:
a = pd.DataFrame(np.arange(7))

In [23]:
b = pd.DataFrame()

for i in range(len(a) - 4):
    b = pd.concat([b, a[i:i+5]], axis=1)

In [24]:
b

     0    0    0
0  0.0  NaN  NaN
1  1.0  1.0  NaN
2  2.0  2.0  2.0
3  3.0  3.0  3.0
4  4.0  4.0  4.0
5  NaN  5.0  5.0
6  NaN  NaN  6.0