In [39]:
import pandas as pd
import numpy as np

In [7]:
df = pd.DataFrame({'foo':[1,5,7], 'bar':[1, 2, 3]})

In [8]:
df

   bar  foo
0    1    1
1    2    5
2    3    7

In [22]:
df['foobar'] = df.apply(lambda x: (x['bar'],x['foo']),axis=1)

In [27]:
df['foobar'][0][1]

1

In [33]:
df2 = pd.concat([df,df], axis=1, keys=[1,2,3,4,5,6])

In [34]:
df2

    1               2
  bar foo  foobar bar foo  foobar
0   1   1  (1, 1)   1   1  (1, 1)
1   2   5  (2, 5)   2   5  (2, 5)
2   3   7  (3, 7)   3   7  (3, 7)

In [37]:
for i in range(0, 5, 2):
    print(i)

0
2
4

In [58]:
a = []
b = np.array([1,2])

In [62]:
a.append(b)

In [64]:
np.array(a)

array([[1, 2],
       [1, 2],
       [1, 2]])